/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(240, 101, 147);
  height: 500px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  font-size: 1.5em;
  background-color: #444;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.container-form-login {
  background-color: #d30000;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
}
.container-form-login h2 {
  color: white;
  text-align: center;
  margin: 0;
  font-size: 24px;
  margin-bottom: 30px;
}

.container-form-login input {
  background: #F4F4F4;
  border-radius: 5px;
  width: 100%;
  display: block;
  outline: none;
  border: none;
  padding: 10px;
  font-size: 18px;
}

.container-form-login input::placeholder {
  color: #aaa;
}

.container-form-login input[type=text] {
  margin-bottom: 15px;
}

.container-form-login button {
  background-color: white;
  margin-top: 30px;
  color: black;
  width: 200px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
}

.container-form-login button:hover {
  background-color: #d6d6d6;
}